.box{
    width: 80px;
    height: 80px;
    border: 1px solid;
    margin: 10px;
    text-align: center;
}

.a{
    background: pink;
}
.b{
    background: yellow;
}
.c{
    background: cornflowerblue;
}
.d{
    background: tomato;
}
.e{
    background: tan;
}
.f{
    background: olivedrab;
}